@model ProjetoBanco.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="a"  asp-action="Index">Voltar para a lista</a>
    </form>
</div>
