@model IEnumerable<ProjetoBanco.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<p>
    <a class="btn-criar" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                <a class="a botao" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="a botao"asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="a botao" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
