@model ProjetoBanco.Models.Hospedagem

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Hospedagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasHospedagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasHospedagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVolta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVolta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino.NomeDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.NomeHotel)
        </dd>
    </dl>
</div>
<div>
    <a class="a" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
